# 2. Struktury Danych

## 2.1. Zbiory

In [11]:
# %%
empty_set = set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>

In [12]:
# %%
techs = {'python', 'java', 'c++', 'sql'}
print(techs)
print(type(techs))
print(len(techs))

{'java', 'c++', 'sql', 'python'}
<class 'set'>
4

In [13]:
# %%
print(set('pytohn'))
print(set('aaaaaaaale'))

{'y', 't', 'n', 'h', 'o', 'p'}
{'e', 'a', 'l'}

In [14]:
# %%
print('python' in techs)
print('go' in techs)

True
False

In [15]:
# %%
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [19]:
# %%
techs.add('sas')

In [20]:
# %%
print(techs)

{'java', 'python', 'c++', 'sql', 'sas'}

In [21]:
# %%
techs.remove('sas')

In [22]:
# %%
techs.pop()

'java'

In [24]:
# %%
techs.clear()
print(techs)

set()

In [33]:
A = {1, 2, 3, 4, 5, 6, 7}
B = {5, 6, 7, 8, 9}
C = {5, 6}

print(C.issubset(A))
print(C.issubset({5, 7}))
print(A.issuperset(C))
print(A.union(B))
print(A.intersection(B))
print(A.symmetric_difference(B))

D = A.copy()
print(D)

True
False
True
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{5, 6, 7}
{1, 2, 3, 4, 8, 9}
{1, 2, 3, 4, 5, 6, 7}

## 2.2. Tuple

In [34]:
# %%
empty_tuple = tuple()
print(empty_tuple)

()

In [38]:
# %%
amazon = ('Amazon', 'USA', 'Technology', 1)
print(amazon)
google = ('Google', 'USA', 'Technology', 2)

('Amazon', 'USA', 'Technology', 1)

In [39]:
# %%
name_google = google[0]
print(name_google)

Google

In [37]:
# %%
data = (amazon, google)
print(data)

(('Amazon', 'USA', 'Technology', 1), ('Google', 'USA', 'Technology', 2))

In [40]:
# %%
a = ('Pawel', 'Krakowiak')
print(a)

('Pawel', 'Krakowiak')

In [41]:
# %%
imie = 'Pawel'
nazwisko = 'Krakowiak'

In [42]:
# %%
imie, nazwisko, id_user = ('Pawel', 'Krakowiak', '001')

In [45]:
# %%
amazon = ('Amazon', 'USA', 'IT', 'AAA')
print(type(amazon))
amazon_name, country, sector, rank = amazon
print(amazon_name)
print(country)
print(sector)
print(rank)

<class 'tuple'>
Amazon
USA
IT
AAA

In [44]:
# %%
stocks = 'Amazon', 'Apple', 'IBM'

print(type(stocks))

<class 'tuple'>

In [46]:
# %%
nested = 'Europa', 'Polska', ('Warszawa', 'Krakow', 'Wroclaw')
print(nested)

('Europa', 'Polska', ('Warszawa', 'Krakow', 'Wroclaw'))

In [47]:
# %%
a = 12
b = 14

c = b
b = a
a = c
print(a, b)

14 12

In [49]:
# %%
x, y = 10, 15
x, y = y, x
print(x, y)
print(type(x))

15 10
<class 'int'>

## 2.3. Listy

In [50]:
# %%
empty_list = list()
print(empty_list)

[]

In [51]:
# %%
techs = ['python', 'java', 'c++', 'go', 'sql']
techs[0] = 'python 3.7'
print(techs)

['python 3.7', 'java', 'c++', 'go', 'sql']

In [52]:
# %%
numbers = [3, 5, 3, 5, 23]
print(numbers)
print(type(numbers))

[3, 5, 3, 5, 23]
<class 'list'>

In [53]:
# %%
mixed = ['python', 3.7, 4, True]
print(mixed)

['python', 3.7, 4, True]

In [55]:
# %%
empty = []
nested = [[1, 2, [3, 'sql']], ['python', 'java', 'go'], 3]
print(nested)

[[1, 2, [3, 'sql']], ['python', 'java', 'go'], 3]

In [56]:
# %%
first = ['mleko', 'ziemniaki', 'makaron']
second = ['woda', 'jajka']

bucket = [first, second]
print(bucket)

[['mleko', 'ziemniaki', 'makaron'], ['woda', 'jajka']]

In [57]:
# %%
len(bucket)

2

In [58]:
# %%
techs = ['python', 'java', 'c++', 'go', 'sql']

techs += ['javascript']
print(techs)

['python', 'java', 'c++', 'go', 'sql', 'javascript']

In [59]:
# %%
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

## 2.4. Listy (wycinanie)

In [60]:
# %%

index = [ 0,  1,  2,  3,  4,  5]
idx_n = [-6, -5, -4, -3, -2, -1]

lista = [34, 23, 56, 24, 23, 76]

In [62]:
# %%

# lista[start:stop]
# lista[index]
# lista[start:]
# lista[:stop]
# lista[::step]

print(lista[0])
print(lista[1])
print(lista[-1])
print(lista[-3])

34
23
76
24

In [65]:
# %%
print(lista[1:5])
print(lista[-5:-1])
print(lista[::-1])

[23, 56, 24, 23]
[23, 56, 24, 23]
[76, 23, 24, 56, 23, 34]

In [66]:
# %%
print(lista[:4])
print(lista[3:])

[34, 23, 56, 24]
[24, 23, 76]

## 2.5. Listy (metody)

In [85]:
# %%
techs = []
print(techs)

[]

In [86]:
# %%
techs.append('python')
print(techs)

['python']

In [87]:
# %%
techs.append('java')

In [88]:
# %%
techs.append(['hadoop', 'spark'])
print(techs)

['python', 'java', ['hadoop', 'spark']]

In [89]:
# %%
techs.extend(['sql', 'sas'])
print(techs)

['python', 'java', ['hadoop', 'spark'], 'sql', 'sas']

In [90]:
# %%
techs.insert(0, 'go')
print(techs)

['go', 'python', 'java', ['hadoop', 'spark'], 'sql', 'sas']

In [91]:
# %%
techs.insert(2, 'r')
print(techs)

['go', 'python', 'r', 'java', ['hadoop', 'spark'], 'sql', 'sas']

In [92]:
# %%
print(techs)
print(techs.pop())
print(techs)

['go', 'python', 'r', 'java', ['hadoop', 'spark'], 'sql', 'sas']
sas
['go', 'python', 'r', 'java', ['hadoop', 'spark'], 'sql']

In [93]:
# %%
# techs = ['python', 'java', 'sql', 'php']
print(techs.pop(0))
print(techs)

go
['python', 'r', 'java', ['hadoop', 'spark'], 'sql']

In [94]:
# %%
techs = ['python', 'java', 'sql', 'php']
techs.index('java')

1

In [102]:
# %%

techs = ['python', 'java', 'sql', 'php', 'python']
print(techs.count('python'))
print(techs.count('java'))

2
1

In [96]:
# %%
techs = ['python', 'java', 'sql', 'php', 'r', 'angular']
techs.sort(reverse=True)
print(techs)

['sql', 'r', 'python', 'php', 'java', 'angular']

In [97]:
# %%
techs = ['python', 'java', 'sql', 'php', 'r', 'angular']
# techs[::-1]
techs.reverse()
print(techs)

['angular', 'r', 'php', 'sql', 'java', 'python']

In [98]:
# %%
techs[1] = 'c++'
print(techs)

['angular', 'c++', 'php', 'sql', 'java', 'python']

## 2.6. SÅ‚owniki

In [103]:
empty_dict = dict()
print(empty_dict)

d = {}
print(type(d))

e = set()

{}
<class 'dict'>

In [133]:
# %%
pol_to_eng = {'jeden':'one', 'dwa':'two', 'trzy':'three'}

name_to_digit = {'jeden':1, 'dwa':2, 'trzy':3}

In [134]:
# %%
name_to_digit = {0:1, 1:2, 2:3}

len(name_to_digit)

3

In [135]:
# %%
pol_to_eng['cztery'] = 'four'
print(pol_to_eng)

{'jeden': 'one', 'dwa': 'two', 'trzy': 'three', 'cztery': 'four'}

In [136]:
# %%
#pol_to_eng.clear()
dict(pol_to_eng.items())

{'jeden': 'one', 'dwa': 'two', 'trzy': 'three', 'cztery': 'four'}

In [137]:
# %%
pol_to_eng_copied = pol_to_eng.copy()

In [138]:
# %%
list(pol_to_eng.keys())

['jeden', 'dwa', 'trzy', 'cztery']

In [139]:
# %%
list(pol_to_eng.values())

['one', 'two', 'three', 'four']

In [140]:
# %%
list(pol_to_eng.items())

[('jeden', 'one'), ('dwa', 'two'), ('trzy', 'three'), ('cztery', 'four')]

In [141]:
# %%
pol_to_eng['jeden']

'one'

In [142]:
# %%
pol_to_eng.get('zero', 'NaN')

'NaN'

In [143]:
# %%
pol_to_eng.popitem()

('cztery', 'four')

In [145]:
# %%
pol_to_eng.update({'dwa':2})
print(pol_to_eng)

{'jeden': 'one', 'dwa': 2, 'trzy': 'three'}